{% extends "base.html" %}


{% block content %}
<h1>terms and conditions</h1>

<h4>Review Policy</h4>
<ol>
  <li>Reviews must not contain foul lanague</li>
  <li>Reviews must be about the product </li>
  <li>we reserve the right to ban an account attempting to write a Review with an SQL injection via a Review</li> 
</ol>
<h4>user acounts policy</h4>
<ol>
  <li>we reserve the right to terminate any account that is susspected of attempting an SQL injection</li>
  <li>we reserve the right to terminate any account that is susspected of attemting XSS </li>
  <li> we reserve the right to monitor any account for the purporces of administation </li>
  <li>we reserve the right to terminate any account that is susspected to bypass the sites HTTP authetication </li> 
  <li>we reserve the right to demoate or terminate accounts suspected of abusing the roles giving to them </li>
  <li> we reserve the right to demoate, terminate or susspend and account if a report is filed agaist the user </li>
</ol>
<h4>User Roles policy </h4>
  <ol>
    <li>users with the role of admin reserve the right to act on behalf of the company in any manner</li>
    <li>all users reserve the right to report on the activies of other users </li>
    <li> in the event of an admin being reported a seprate admin will conduct the report audit </li>
    <li> in the event of an admin reporting a user a seprate admin will conduct the report audit</li>
  </ol>
<h4>Report Policy</h4>
<h5>Reports can be made here:www.fakelink.com</h5>
  <ol>
    <li>a Report can be filed when one user suspects another user of susspecious activity</li>
    <li> Reports must be reviwed by an admin</li>
    <li> we reserve the right to terminate any account that is abusing the report function</li>
    <li> Reports may be priotised if they are agiasnt a user with exisiting reports</li>
    <li>we reserve the right to store the infomation of those making the report </li>
    <li>we reserve the right to store the infomation of user that the report inculdes</li>
  </ol>
  <h4>Tracking Policy</h4>
<ol>
  <li>we reserve the right to track your page views</li>
  <li>we reserve the right to over-ride a review if it does not confim to are review policy</li>
  <li>we reserve the right to termiate or suspend your account if we suspect your account is it does not conform to our user acounts policy</li> 
</ol>

<h4>GDPR Compliance</h4>
<h5>as to comply by GDPR you may request your data to be deleted at any time to do so simpy fill out the form:
  fakeform.com
</h5>
{% endblock content %}